@import "../../index.scss";

.btn {
  padding: 1rem 1.5rem;
  border: none;
  border-radius: 10rem;
  transition: all 300ms ease;
  cursor: pointer;
  font-size: 1.25rem;

  @include breakpoint-up("md") {
    padding: 0.875rem 1.25rem;
  }

  &--primary {
    border: 1px solid $blue;
    background: $blue;
    color: #fff;

    &:hover {
      background: none;
      color: $blue;
    }
  }

  &--secondary {
    border: 1px solid $blue;
    background: none;
    color: $blue;

    &:hover {
      background: $blue;
      color: #fff;
    }
  }
}
