@import "../../index.scss";

.about {
  margin: 10rem 0;

  @include breakpoint-up('lg') {
    margin: 12.5rem 0;
  }

  h2 {
    text-align: center;
    margin-bottom: 4rem;

    @include breakpoint-up("md") {
      margin-bottom: 5rem;
    }
  }

  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: $veryLightBlue;
    border-radius: 1rem;
    position: relative;
    padding: 5rem 2rem;

    @include breakpoint-up("lg") {
      display: grid;
      grid-template-columns: 1fr 216px 1fr;
      grid-gap: 4rem;
      padding-top: 0;
      padding-bottom: 0;
    }

    @include breakpoint-down("sm") {
      margin: 0;
    }
  }

  &__pros {
    display: flex;
    flex-direction: column;
    gap: 2rem;

    @include breakpoint-up("md") {
      gap: 2.25rem;
    }
  }

  &__image {
    margin: 5rem 0;

    @include breakpoint-up("lg") {
      margin: 0;
    }

    img {
      width: 100%;
    }
  }

  &__capacities {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;

    @include breakpoint-up("md") {
      align-items: flex-start;
      gap: 3rem;
    }

    h3 {
      font-size: 1.5rem;
      margin-bottom: 1rem;
    }
  }
}
