@import "../../index.scss";

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;

  &__logo {
    width: 3rem;
    height: 3.5rem;

    img {
      width: 100%;
    }
  }

  &__links {
    display: none;
    gap: 1.5rem;

    @include breakpoint-up("md") {
      display: flex;
    }

    p {
      font-size: 1rem;
      color: $gray;
      cursor: pointer;
      transition: color 300ms ease-in-out;

      &:hover {
        color: $blue;
      }
    }
  }

  &__menu {
    z-index: 99;
  }

  &__menu-container {
    background: $blue;
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    right: 0%;
    bottom: 0;
    display: flex;
    visibility: hidden;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: all 300ms ease-in-out;
  }

  &__menu-links1 {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    text-align: center;
    margin-bottom: 2rem;

    p {
      font-size: 2.5rem;
      font-weight: bold;
      color: #fff;
      opacity: 0.5;
      transition: opacity 300ms ease-in-out;
      cursor: pointer;

      &:hover {
        opacity: 1;
      }

      @include breakpoint-up("md") {
        font-size: 3rem;
      }
    }

    hr {
      margin: 0 auto;
      width: 10rem;
      height: 1px;
      background: #fff;
    }
  }

  &__menu-links2 {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 1.5rem;

    p {
      font-size: 1.5rem;
      color: #fff;
      transition: opacity 300ms ease-in-out;
      cursor: pointer;
    }
  }
}

.active {
  visibility: visible;
  opacity: 1;
}

.menuBtn {
  cursor: pointer;
  animation: fade-in 300ms ease-in-out;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
