@import "./index.scss";

* {
  font-family: $font-family;
  letter-spacing: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-smooth: antialiased;
  -webkit-font-smoothing: antialiased;
}

body {
  overflow-x: hidden;
}

h1 {
  font-size: $h1sm;
  font-weight: 500;

  @include breakpoint-up("md") {
    font-size: $h1;
  }

  @include breakpoint-up("xl") {
    font-size: $h1xl;
  }
}

h2 {
  font-size: $h2sm;
  font-weight: 500;

  @include breakpoint-up("md") {
    font-size: $h2;
  }

  @include breakpoint-up("xl") {
    font-size: $h2xl;
  }
}

a {
  color: unset;
  text-decoration: none;
}

.section__padding {
  padding: 0 2rem;

  @include breakpoint-up("md") {
    padding: 0 5rem;
  }

  @include breakpoint-up("xl") {
    padding: 0 8rem;
  }
}

.section__margin {
  margin: 0 2rem;

  @include breakpoint-up("md") {
    margin: 0 5rem;
  }

  @include breakpoint-up("xl") {
    margin: 0 8rem;
  }
}
